@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville');

$primary: #73efef;
$secondary: black;
$tertiary: white;

$complete: #73efef;
$incomplete: #eeeeee;

html, body {
  min-height: 100%;
  display: flex;
  background-color: black;
}

* { box-sizing: border-box; }

body {
  font-family: 'Source Sans Pro', sans-serif;
  width: 100%;
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  color: $primary;
}

.primary-background { background-color: $primary; }
.primary { color: $tertiary; }

.secondary-background { background-color: black; }
.secondary { color: $tertiary; }

.complete { background-color: $complete; }
.incomplete { background-color: $incomplete; }
